.swiper-pagination {
  bottom: 0;
  top: unset;
  fill: black;
  --swiper-pagination-color: black;
}

.swiper-pagination-progressbar-fill {
  --swiper-pagination-color: black;
}

.SwiperComp-mySwiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.swiper-slide img {
  width: 100%;
}