<div class="swiper SwiperComp-mySwiper container">
    <div class="swiper-wrapper text-black">
        <div class="swiper-slide mx-2"><img src="assets/images/homslider1/winter.webp"></div>
        <div class="swiper-slide mx-2"><img src="assets/images/homslider1/bloovers.webp"></div>
        <div class="swiper-slide mx-2"><img src="assets/images/homslider1/hoodies.webp"></div>
        <div class="swiper-slide mx-2"><img src="assets/images/homslider1/shirts.webp"></div>
        <div class="swiper-slide mx-2"><img src="assets/images/homslider1/jackets.webp"></div>
        <div class="swiper-slide mx-2 "><img src="assets/images/homslider1/pants.webp"></div>
        <div class="swiper-slide mx-2 "><img src="assets/images/homslider1/training.webp"></div>
        <div class="swiper-slide mx-2 "><img src="assets/images/homslider1/accessories.webp"></div>

    </div>
    <div class="swiper-button-next text-black"></div>
    <div class="swiper-button-prev text-black"></div>
    <div class="swiper-pagination"></div>
</div>