<div class="container justify-content-between">
    <div class="row">
        <div class="col-12 col-md-6 ">
            <form action="" class="row gy-3 col-12">
                <h3 class="" style="text-align: center;">sign up</h3>
                <input type="text" placeholder="First Name">
                <input type="text" placeholder="Last Name">
                <input type="email" name="" id="" placeholder="email">
                <input type="datetime" name="" placeholder="date of birth">
                <select name="" id="">
                    <option value="male">male</option>
                    <option value="male">female</option>
                </select>
                <input type="number" placeholder="your phone number">
                <input type="password" placeholder="password">
                <input type="password" placeholder="confirm password">
                <button class="btn btn-primary"> sign up</button>
            </form>

        </div>
        <div class="col-12 col-md-6 pt-3">
            <img class="border rounded-3 w-100" src="login.png" alt="" >
            
        </div>

    </div>




</div>
