<div class="col-12 mb-5">
    <img class="d-block col-12" src="https://sutrastores.com/cdn/shop/files/2_8d9d9c8c-0f00-4b60-a320-66ec5cc626c2.jpg?v=1734811959&width=1944" alt="">
</div>
<app-swiper class="mt-5 mb-5 gy-5"></app-swiper>
<div class="col-12 mt-5 mb-5">
    <img src="https://sutrastores.com/cdn/shop/files/2_2c328d1c-6ed0-40aa-88ef-175e846e0bbb.jpg?v=1733935824&width=1944" alt="" class="col-12 d-block">
</div>
<app-product-swiper class="mt-5"></app-product-swiper>
<app-show-product class="mt-5"></app-show-product>
<app-product-swiper class="mt-5"></app-product-swiper>
<app-testimonial class="mt-5"></app-testimonial>
